body {
    display: flex;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* font-family: 'Cormorant',
serif;
font-family: 'Cormorant Garamond',
serif;
font-family: 'Jost',
sans-serif;
font-family: 'Lato',
sans-serif;
font-family: 'Tajawal',
sans-serif; */